

<div class="container">
<div>
  <button class="btn btn-outline-secondary btnStyle" (click)='ngOnInit()'>Get Api</button>
</div>


<div>
    <table class="table table-hover table-striped table-bordered .table-responsive{-sm|-md|-lg|-xl}">
      <thead class="bg-warning thead-dark">
        <tr>
          <th>Nº</th>
          <th *ngFor="let letter of letters">
              {{letter}}
          </th>
          <th>Suma numericos contenidos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i =index;">
          <td><p>{{ i }}</p></td>
          <td><p>{{item.a ? item.a : 0}}</p></td>
          <td><p>{{item.b ? item.b : 0}}</p></td>
          <td><p>{{item.c ? item.c : 0}}</p></td>
          <td><p>{{item.d ? item.d : 0}}</p></td>
          <td><p>{{item.e ? item.e : 0}}</p></td>
          <td><p>{{item.f ? item.f : 0}}</p></td>
          <td><p>{{item.g ? item.g : 0}}</p></td>
          <td><p>{{item.h ? item.h : 0}}</p></td>
          <td><p>{{item.i ? item.i : 0}}</p></td>
          <td><p>{{item.j ? item.j : 0}}</p></td>
          <td><p>{{item.k ? item.k : 0}}</p></td>
          <td><p>{{item.l ? item.l : 0}}</p></td>
          <td><p>{{item.m ? item.m : 0}}</p></td>
          <td><p>{{item.n ? item.n : 0}}</p></td>
          <td><p>{{item.o ? item.o : 0}}</p></td>
          <td><p>{{item.p ? item.p : 0}}</p></td>
          <td><p>{{item.q ? item.q : 0}}</p></td>
          <td><p>{{item.r ? item.r : 0}}</p></td>
          <td><p>{{item.s ? item.s : 0}}</p></td>
          <td><p>{{item.t ? item.t : 0}}</p></td>
          <td><p>{{item.u ? item.u : 0}}</p></td>
          <td><p>{{item.v ? item.v : 0}}</p></td>
          <td><p>{{item.w ? item.w : 0}}</p></td>
          <td><p>{{item.x ? item.x : 0}}</p></td>
          <td><p>{{item.y ? item.y : 0}}</p></td>
          <td><p>{{item.z ? item.z : 0}}</p></td>
          <td><p>{{sumNumbers[i] ? sumNumbers[i]: 0}}</p></td>
        </tr>
      </tbody>
    </table>
  </div>

<div >
  <button class="btn btn-outline-secondary btnStyle" routerLink='/first-view'>Back</button>
</div>


