<div class="container">
  <div>
    <button class="btn btn-outline-secondary" (click)="ngOnInit()">Get Api</button>
  </div>
  
  <div>
    <table class="table table-hover table-bordered .table-responsive{-sm|-md|-lg|-xl}">
      <thead class="bg-warning thead-dark">
        <tr>
          <th>Nº</th>
          <th>number</th>
          <th>quantity</th>
          <th>first position</th>
          <th>last position</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of numbersNotRepeated; let i =index;  let primero = first; let ultimo = last;" [ngClass]="{verde:acount[item]>=2, amarillo:acount[item]<=1, gris:acount[item]<1}">
          <td>{{ i }}</td>
          <td>{{item}}</td>
          <td >
            {{acount[item] | json}}
          </td>
          <td *ngIf="items.indexOf(item) > -1">{{items.indexOf(item)}}</td>
          <td *ngIf="items.lastIndexOf(item) > -1">{{items.lastIndexOf(item)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div>
  <ng-container *ngIf="items">
    <input type="text" class="form-control " readonly [(ngModel)]="items" >
</ng-container>
</div>

<div>
  <button class="btn btn-outline-secondary" routerLink="/second-view">Next</button>
</div>
  
</div>
