.azul {
    background:blue;
    }

.verde {
    background:green;
    }

    .amarillo {
    background:yellow;
    }

    .gris {
        background:gray;
        }

    .table {
        width: 100%;

    }